/*========================================================================================================================
"West-Germany-Future-Tech GmbH"

Datei: navi-responsiv.css
Datum: 02.07.2026
Autor: Lars Beuthien

Navigation:
- Hauptnavigation
- Navigationsbuttons
========================================================================================================================*/



.hauptnavigation {
    background-color: rgb(52, 52, 63);
    color: white;
    box-shadow: 0 2px 6px rgb(54, 52, 52);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    outline: 3px solid black;
    margin: 0 3px 0 3px;
}

.hauptnavigation ul {
    display: flex;
    flex-flow: column;
    gap: 2px;
    list-style: none;
    padding: 0;
    margin: 0;
}



.hauptnavigation li {
    
    
}

.hauptnavigation a {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: underline;
    font-size: 0.8rem;
    background-color: rgb(52, 52, 63);
    color: beige;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: 4px solid rgb(31, 30, 30);
    outline: 2px solid black;
    -webkit-tap-highlight-color: rgba(189, 135, 8, 0.35);
}
.hauptnavigation img {
    width: 40px;
    height: auto;
    display: none;
    transition: transform 120ms ease, filter 120ms ease;
}


/*.hauptnavigation a:hover,
.hauptnavigation a:focus {
background: grey;
color: #bd8708;
text-decoration: underline;
text-underline-offset: 0.15em;
text-decoration-thickness: 1px;

}*/

.hauptnavigation a[aria-current="page"] img {
    transform: translateY(-1px) scale(1.08);
    filter: brightness(1.5) contrast(1.08) drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.25));
    
  
}

/* Reaktion beim Antippen / Fokussieren 
.hauptnavigation:hover img,
.hauptnavigation:focus-visible img,
.hauptnavigation:active img {
    transform: translateY(-1px) scale(1.08);
    filter: 
    brightness(1.5) 
    contrast(1.08) 
    drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.25))
    
    
}
*/

.hilfsbox {
    display: flex;
    flex-direction: row;
}


.menubutton img {
    display: block;
    width: 100%;
    height: auto;
     transform: none;
    filter: brightness(0.85) contrast(1);
    transition: transform 120ms ease, filter 120ms ease;
    
}

.menubutton {
    position: relative;
    display: inline-block;

    width: 50px;
    padding: 0;
    border: 0;
    margin: 0.5rem;

    background: transparent;
    cursor: pointer;
    align-self: flex-start;
    -webkit-tap-highlight-color: transparent;
}

.menubutton span {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: beige;
    font-family: "Special Elite", monospace;
    font-size: 0.45rem;
    line-height: 1;
    text-align: center;

    pointer-events: none;
}

.menubutton[aria-expanded="false"] + ul {
    display: none;
}

.menubutton[aria-expanded="true"] + ul {
    display: flex;
    flex-flow: column;
}

/* MENÜBUTTON: Menü ist offen */
.menubutton[aria-expanded="true"] img {
    transform: translateY(-1px) scale(1.08);
    filter: brightness(1.4) contrast(1.08)
        drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.35));
}

/* MENÜBUTTON: Menü ist wieder zu */
.menubutton[aria-expanded="false"] img {
    transform: none;
    filter: brightness(0.85) contrast(1);
}

