/*========================================================================================================================
"West-Germany-Future-Tech GmbH"

Datei: style.css
Datum: 17.06.2026
Autor: Lars Beuthien
zentrales Stylesheet zum Importieren der Module
wird in den HTML-Dateien per <link> eingebunden
============================================================================================================================*/


@import url("basis.css");
@import url("layout.css");
@import url("navigation.css");
@import url("pages.css");
@import url("components.css");
@import url("forms.css");
