/*========================================================================================================================
"West-Germany-Future-Tech GmbH"

Datei: style-alt.css
Datum: 17.06.2026
Autor: Lars Beuthien
zentrale Stylesheet zum Importieren der Module
wird in den HTML-Dateien per <link> eingebunden
============================================================================================================================*/
/*Sanftes Scrollen aktivieren*/
html
{
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
/*border-box aktivieren*/
*, 
*::before,
*::after { box-sizing: border-box; 
}
/*/////////////////Startseite//////////////*/

.startseite
{
    margin: 0;
    background-image: url("../Bilder/hintergrund1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body 

 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background-color: #b8b8b0;
  color: #000000;
  
}



header
{
    max-width: 100%;
    background-color: rgb(230, 222, 222);
    color :black;
    padding: 1rem;
    
}
.logo {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  border: none;
  border-radius: 0;
}
.firmenbild img 
{
     width: 100%;
  max-width: none;
  height: auto;
  display: block;
  
}
img
{
    width: 100%;  
  height: auto;
  display: block;
  border-radius: 0.5rem;
  border: 2px solid rgb(44, 42, 42);
}
/*///INTRO///*/
.intro
{
     max-width: 1050px;
     margin: 2rem 0 2rem 3rem;
     padding: 3rem;
     background-color: #31302d;
     border: 5px solid #b3b1a9;
     color: whitesmoke;
     border-radius: 0.5rem;

}
.intro p
{
    max-width: 850px;
}
.infoboxen
{
    margin: 2rem 0 2rem 3rem;
    padding: 3rem;
    background-color: rgb(32, 30, 30);
    padding: 1rem;
    margin-bottom: 1rem;
}
.infobox
{
    text-align: center;
    background-color: rgb(104, 97, 97);
    padding: 1rem;
    margin: 1rem;
}


/*Abstand zwischen dem Logo und dem folgenden Absatz anpassen*/
header h1
{
margin-bottom: 0;
}
header h1 + p 
{
    margin-top: 0;
}


.hauptnavigation {
    
    background-color: #242424;

    background-image:
        radial-gradient(circle, rgba(71, 70, 70, 0.205) 0.6px, transparent 5px),
        radial-gradient(circle, rgba(0,0,0,0.45) 0.6px, transparent 1px);

    background-size: 2.5px 2.5px;
    background-position: 0 0, 0px 2px;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0.8rem;
}

.hauptnavigation ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 4rem;
    
}

.hauptnavigation li {
    margin: 0;
    padding: 0;
    
}

.hauptnavigation a {
    display: block;
    padding: 0;
}

.hauptnavigation img {
    width: 75px;
    height: auto;
    display: block;
}
.firmenbild 
{
    margin: 0;
}
.firmenbild img 
{
    width: 100%;
  height: auto;
  display: block;
  
}
main
{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 0;
    min-height: 100vh;
}
.product-gallery
{
    display: flex;
    gap: 1rem;
}
.product-gallery figure
{
    width: 45%;
    margin: 0;
}
.product
{
    width: 100%;
    height: auto;
    display: block;
    
}
footer
{
    background-color: black;
    color:white;
    padding: 0.5rem
}
/*/////////////////////Belegschaft//////////////////////*/
/*Style fürs Personal*/
.Klaus-Dieter
{
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
}
.ingenieure-section {
    width: 100%;
    padding: 3rem 0;
   
    background-color: rgba(51, 50, 48, 0.65);
}
.konstruktionsmitte {
    max-width: 100%;
    
    margin: 0 auto;
}
.ingenieure {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.planung
{
     max-width: 100%;
    width: 30%;
    margin: 0;
    text-align: center;
    
}
.mitarbeiter
{
    width: 100%;
    display: block;

}
.büromitarbeiter
{
    display: flex;
   justify-content: center;
   gap: 1rem;
   flex-wrap: wrap;
}
.büro
{
    max-width: 100%;
    width: 30%;
    margin: 0;
    text-align: center;
}
.belegschaft {
    margin: 0;
    background-image: url("../Bilder/mitarbeiter/image.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.planung figcaption
{
    background-color: rgba(0,0,0,1);
    width: 100%;
    box-sizing: border-box;
    color: beige;
    padding: 0.3rem 0.6rem;
    display: inline-block;
    border-radius: 5px;
}
/*/////////MESSE//////////*/
.messe {
    margin: 0;
    background-image: url("../Bilder/messe/messe1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.messe main
{
    min-height: 80vh;
}
/*////////KONTAKT/////////*/
.kontakt {
    margin: 0;
    background-image: url("../Bilder/Helmut Kohl.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

form {
    max-width: 50rem;
    background-color: #31302d;
    padding: 1rem;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(36, 35, 35);
    
}
div {
    margin-bottom: 1rem;
   
}
label {
    cursor: pointer;
    display: block;
    
}
button {
    background-color: rgb(116, 116, 116);
    font-family: courier;
    color: antiquewhite;
}
/*/////////PRODUKTE//////////*/
.produkte {
    margin: 0;
    background-image: url("../Bilder/hintergrund1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input
{
     background-color: rgb(116, 116, 116);
    font-family: courier;
    color: antiquewhite;
}
textarea
{
     background-color: rgb(116, 116, 116);
    font-family: courier;
    color: antiquewhite;
}
table
{
    background-color: #000000;
    color: beige;
    border: 1px solid beige;
}
table th,
table td
{
    border: 1px solid rgb(233, 224, 224);
    border-collapse: collapse;
}
.telebuero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem auto;
}
.telebuero a {
    display: block;
}
.img-produkte
{
    width: 38%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.img-produkte-klickbar{
    max-width: 75vw;
    height: auto;
    cursor: zoom-in;
}
.produkte h1,
.produkte h2,
.produkte h3,
.produkte figcaption,
.produkte caption
 
{
    background-color: rgba(0,0,0,0.75);
    color: beige;
    padding: 0.3rem 0.6rem;
    display: inline-block;
}
.produktgruppen-beschreibung
{
    display: block;
    width: fit-content;
    background-color: rgba(0,0,0,0.75);
    color: beige;
    padding: 0.3rem 0.6rem;
}
.koffertelefon
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem auto;
}
